@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');


.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}
body{
    margin: 0;
    padding: 0;
    /* position: fixed; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
a{
    text-decoration: none;
    display: inline;
    color: black;
}
header{
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr ;
}
header .header-icons-container{
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #47cfac;
}
header .header-icons-container .icons{
    width: 300px;
    height: auto;
    display: flex;
    align-items: center;
    /* los centra verticalemte a los elementos  */
    justify-content: space-between;
    /* le da una separacion entre los elementos internos */
    justify-self: end;
    /* coloca todo el conjunto de elementos a la derecha */
    margin-right: 40px;
}
header .icons span{
    color: white;
}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    height: 90px;
}
nav .nav-logo-container{
    margin-left: 50px;
}
nav .nav-logo-container img {
    width: 220px;
    margin-top: 10px;
}
nav .profile-link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}
nav .profile-link a{
    color: black;
    border-bottom: 1px solid black;
}
/*! -------HERO----------- */

.hero{
    background-image: url(../assets/img/cover.png); 
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}
.hero .hero-info{
    display: grid;
    margin-top: 100px;
}
.hero .hero-title{
    color: white;
    font-size: 2rem;
    letter-spacing: 15px;
}
.hero .hero-btn{
    display: grid;
    align-items: center;
    width: 110px;
    height: 40px;
    display: grid;
    justify-self: center;
    padding: 10px;
    background-color: #47cfac;
    border: none;
    font-weight:bold ;
    margin-top: 30px;
}
.hero .hero-btn:hover{
    transform: scale(1.2);
}

/* --------------NOTICAS-------------- */
.noticias{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(235, 233, 233);
    padding-bottom: 30px;
}
.noticias-img img{
    width: 100%;
}
.noticas-left{
    margin-left: 150px;
}
.noticias-right{
    margin: 50px 250px 0px 100px;
}
.noticias-right a{
    border: 1px solid #47cfac;
    padding: 10px;
}
.noticias-right h2{
    font-size: 2rem;
}
.noticias-right p{
    margin-bottom: 45px;
    font-size: 1.2rem;
}
/* --------------NOTICAS--------------FIN */

/* ---------------CARDS  ULTIMOS BLOGPOSTS----------------- */
.title-blogpost{
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
}
hr{
    width: 85%;
    border: 1px solid rgb(185, 185, 185);
    margin-bottom: 30px;
}
.blogposts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 130px 0 130px;
    gap: 3rem;
}
.blogpost-img{
    width: 100%;
    /* height: 100px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    background-position: center;
}
.blogpost-title{
    font-size: 1.5rem;
}
.blogpost-info{
    margin-bottom: 40px;
    font-size: 1.5rem;
}
.blogpost-btn{
    border: 1px solid #47cfac;
    padding: 10px 15px 10px 15px;
}
/* ---------------CARDS  ULTIMOS BLOGPOSTS-----------------FIN */

/* -----------------FOOTER--------------------- */
footer {
    margin-top: 40px;
    height: 100px;
    background-image: linear-gradient(to bottom, #47cfac 0%, #47cfac 30%, rgb(45, 55, 59) 30%, rgb(45, 55, 59) 100%);
}

footer p {
    text-align: center;
    padding-top: 50px;
    margin: 0;
    padding-bottom: 0;
    color: white;
    font-size: 1.3rem;
}

/* -----------------FOOTER---------------------FIN */